<form action="" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}
    <div class="formulario-libro">
    {% for campo in formulario %}
    
        <label for="">{{campo.label}}</label><br>

        {% if campo.field.widget.input_type == 'file' and campo.value %}
            <img src="{{campo.value.url}}" alt="{{campo.name}}">
        {% endif %}

        <input 
            type="{{campo.field.widget.input_type}}" 
            name="{{campo.name}}" 
            id="{{campo.name}}"
            class="input-formulario"
            {% if campo.name == "anio" %}
                placeholder="Ingrese año"
            {% else %}
                placeholder="Ingrese {{campo.name}}"
            {% endif %}
            value="{{ campo.value | default:'' }}"  
        >
    
    <div>{{campo.errors}}</div>
    {% endfor %}
    <br>
    <input type="submit" value="Guardar" class='btn btn-success'>
    <a href="{% url 'gestion_catalogo' %}" class='btn btn-secondary'>Cancelar</a>
    </div>
</form>