{% extends 'base.html' %}
{% load static %}
{% block titulo %}{{titulo}}{% endblock titulo %}

{% block contenido %}
<section>
    <div class="portada d-flex justify-content-center align-items-center flex-column" id="portada-sm">
        <div class="portada-interno-sm">
            <h1 id="portada-h1" class="animate__animated animate__fadeInRight">Bookflix - Librería</h1>
            <p id="portada-p" class="animate__animated animate__fadeInRight">Nuestro Catálogo</p>
        </div>
    </div>
</section>
<section>
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header">
                <h5>Catálogo de libros</h5>
            </div>
            <div class="card-body">
                <p>Gestión de libros</p>
                <a href="{% url 'crear_libro' %}" class="btn btn-primary btn-sm">Agregar Libro</a><br>
            </div>
            <table class="table table-hover">
                <thead>
                    <th>Portada</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Año</th>
                    <th>ISBN</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    {% for libro in libros %}
                        <tr>
                            <td style="max-width: 150px; text-align:center;">
                                <img src="{{libro.imagen.url}}" alt="{{libro.titulo}}" class="libro-img">
                            </td>
                            <td>{{libro.titulo}}</td>
                            <td>{{libro.autor}}</td>
                            <td>{{libro.anio}}</td>
                            <td>{{libro.isbn}}</td>
                            <td>
                                <a href="{% url 'editar_libro' %}" title="Editar" class="btn btn-warning btn-sm"><i class="fas fa-pencil"></i></a>
                                <a href="{% url 'eliminar_libro' libro.id %}" title="Eliminar" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}